<div class="p-5 fill-height overflow-y-auto">
  <div class="flex flex-col gap-5">
    <div class="flex justify-between">
      <div class="flex gap-2 items-center">
        <app-input
          [(model)]="nameModel"
          (blur)="handleBlur()"
          [loadAnimation]="!subject"
        >
          <fa-icon [icon]="pencilIcon"></fa-icon>
        </app-input>
        <app-add-excercise-sheet
          [loadAnim]="!subject"
          [subject_id]="subject?.id"
        ></app-add-excercise-sheet>
      </div>

      <app-button
        (click)="handleOpenDeleteSubjectModal()"
        [loadAnimation]="!subject"
        [disabled]="!subject"
        >Fach löschen</app-button
      >
    </div>
    <div
      *ngIf="subject; else sheetAnim"
      class="flex flex-wrap justify-start gap-5"
    >
      <app-user-excercise-sheet
        *ngFor="let sheet of excerciseSheets$ | async"
        [sheet]="sheet"
      >
      </app-user-excercise-sheet>
    </div>
    <ng-template #sheetAnim>
      <div class="flex flex-wrap justify-start gap-5">
        <app-user-excercise-sheet *ngFor="let number of randomArray">
        </app-user-excercise-sheet>
      </div>
    </ng-template>
  </div>
</div>
