<div
  class="bg-neutral-700 py-1 px-2 rounded flex justify-between items-center transition-all"
  [ngClass]="
    focused ? 'ring-[1px] ring-blue-200' : loadAnimation ? 'pulse' : ''
  "
>
  <input
    class="outline-none border-none bg-transparent truncate text-neutral-200"
    [(ngModel)]="model"
    (ngModelChange)="modelChange.emit(model)"
    [type]="type"
    (focus)="doFocus()"
    (blur)="doBlur()"
    [placeholder]="placeholder"
    [ngClass]="loadAnimation ? 'text-transparent' : ''"
  />
  <ng-content></ng-content>
</div>
