<div class="flex flex-col gap-4">
  <app-profile-image></app-profile-image>
  <app-file-input
    [(file)]="selectedImage"
    accept=".jpg ,.jpeg ,.png"
    [id]="'app-profile-image'"
  >
    <p
      class="px-2 py-1 rounded text-neutral-200 text-sm bg-neutral-700 hover:bg-neutral-600 hover:border-blue-400 transition-colors border border-gray-600 hover:cursor-pointer"
    >
      Datei auswählen
    </p>
  </app-file-input>
  <div class="flex justify-between">
    <app-button
      [disabled]="!selectedImage"
      [style]="'primary'"
      (click)="handleUpdateImage()"
      >Speichern</app-button
    >
  </div>
</div>
