<div
  class="border-r border-neutral-600 flex flex-col items-center w-44 fill-height"
>
  <app-button
    (click)="handleOpenAddSubjectModal()"
    class="mb-10 mt-5"
    [loadAnimation]="showLoadAnim"
    >Fach hinzufügen</app-button
  >
  <app-expansion-card
    [loadAnim]="true"
    class="w-full px-5"
    *ngIf="showLoadAnim; else subjectOverview"
  >
    <div class="flex flex-col gap-2 ml-2">
      <p
        class="pulse text-transparent text-neutral-200 hover:cursor-pointer text-sm w-full px-2 py-1 rounded truncate bg-neutral-700 transition-all"
      >
        Placeholder
      </p>
      <p
        class="pulse text-transparent text-neutral-200 hover:cursor-pointer text-sm w-full px-2 py-1 rounded truncate bg-neutral-700 transition-all"
      >
        Placeholder
      </p>
      <p
        class="pulse text-transparent text-neutral-200 hover:cursor-pointer text-sm w-full px-2 py-1 rounded truncate bg-neutral-700 transition-all"
      >
        Placeholder
      </p>
      <p
        class="pulse text-transparent text-neutral-200 hover:cursor-pointer text-sm w-full px-2 py-1 rounded truncate bg-neutral-700 transition-all"
      >
        Placeholder
      </p>
      <p
        class="pulse text-transparent text-neutral-200 hover:cursor-pointer text-sm w-full px-2 py-1 rounded truncate bg-neutral-700 transition-all"
      >
        Placeholder
      </p>
    </div>
  </app-expansion-card>
  <ng-template #subjectOverview>
    <app-expansion-card
      [header]="'Semester' + group.semester"
      *ngFor="let group of groupedBySemester$ | async"
      class="w-full my-2 px-5"
    >
      <div class="flex flex-col gap-2 ml-2">
        <a
          *ngFor="let subject of group.subjects"
          class="hover:text-neutral-200 hover:cursor-pointer text-sm px-2 py-1 rounded truncate hover:bg-neutral-700 transition-all"
          [ngClass]="
            currentRoute === '/dashboard/subjects/detail/' + subject.id
              ? 'text-neutral-200 bg-neutral-700'
              : ''
          "
          [routerLink]="'/dashboard/subjects/detail/' + subject.id"
        >
          {{ subject.name }}
        </a>
      </div>
    </app-expansion-card>
  </ng-template>
</div>
