<div class="absolute p-2">
  <div
    *ngFor="let notification of notifications"
    class="p-2 rounded mt-1 transition-all"
    [ngClass]="
      notification.type === 'warning'
        ? 'bg-yellow-400'
        : notification.type === 'error'
        ? 'bg-red-400'
        : notification.type === 'success'
        ? 'bg-green-400'
        : ''
    "
  >
    <p *ngIf="notification.header" class="font-semibold text-zinc-200">
      {{ notification.header }}
    </p>
    <p class="text-zinc-200">{{ notification.message }}</p>
  </div>
</div>
