<div class="flex items-center justify-center mt-32">
  <app-container header="Registrieren">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-5 px-10"
      *ngIf="!emailSent; else verfifyEmail"
    >
      <div class="flex gap-10">
        <div class="flex flex-col gap-5">
          <app-form-input
            label="E-Mail"
            formControlName="email"
          ></app-form-input>
          <app-form-input
            label="Benutzername"
            formControlName="name"
          ></app-form-input>
          <app-form-input
            type="password"
            label="Passwort"
            formControlName="password"
          ></app-form-input>
        </div>
        <div class="flex flex-col gap-5">
          <app-form-select
            label="Universität"
            [options]="universityOptions"
            formControlName="university_id"
          ></app-form-select>
          <app-form-select
            label="Studiengang"
            [options]="courseOptions"
            formControlName="course_id"
          ></app-form-select>
        </div>
      </div>

      <div class="flex justify-between">
        <app-button>
          <a routerLink="/auth/login">Einloggen</a>
        </app-button>
        <app-button type="submit" [style]="'primary'">Registrieren</app-button>
      </div>
    </form>
    <ng-template #verfifyEmail>
      <p class="p-10">
        Es wurde eine Bestätigungs Email an
        <span class="font-bold">{{registerForm.get("email")?.value}}</span>
        gesedet. Bestätige diese Email um die Registrerung abzuschließen.
      </p>
    </ng-template>
  </app-container>
</div>
