<button
  class="text-neutral-200 py-1 px-2 rounded text-sm border border-gray-600 transition-colors disabled:cursor-not-allowed disabled:opacity-70"
  [ngClass]="
    loadAnimation
      ? 'bg-neutral-700 pulse'
      : isDanger
      ? 'bg-neutral-700 border border-red-400 hover:bg-red-500 text-red-400 hover:text-neutral-200'
      : isWarning
      ? 'bg-neutral-700 border border-yellow-400 hover:bg-yellow-600 text-yellow-400 hover:text-neutral-200'
      : isSuccess
      ? 'bg-green-400 hover:bg-green-300'
      : isPrimary
      ? 'bg-blue-500 hover:bg-blue-600'
      : 'bg-neutral-700 hover:bg-neutral-600 hover:border-blue-300'
  "
  (click)="(handleClick)"
  [disabled]="disabled"
  [type]="type"
>
  <ng-content
    *ngIf="!loadAnimation; else emptyText"
    class="w-full"
  ></ng-content>
  <ng-template #emptyText>
    <p class="text-transparent">Placeholder</p>
  </ng-template>
  <ng-template *ngIf="loading">
    <app-spinner-icon></app-spinner-icon>
  </ng-template>
</button>
