<app-excercise-sheet-detail
  [sheetNumber]="sheet.number"
  [countByType]="countByType"
>
  <div class="p-4 flex flex-col gap-8">
    <div class="flex justify-between">
      <p>{{ topicModel }}</p>
      <app-button (click)="handleLike()">
        <fa-icon [icon]="heartIcon"></fa-icon>
      </app-button>
    </div>
    <div class="flex gap-4 justify-evenly">
      <div class="flex flex-col" *ngFor="let type of submissionTypes">
        <p class="text-sm">
          {{ type }}
        </p>
        <div class="flex items-center justify-start gap-2">
          <p class="text-neutral-200">
            {{ countByType[type] }}
          </p>
          <button
            *ngIf="countByType[type] > 0"
            (click)="handleOpenSubmission(type)"
          >
            <fa-icon [icon]="showIcon" class="hover:text-neutral-200"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</app-excercise-sheet-detail>
