<div
  class="flex flex-col justify-between p-5 border rounded border-gray-600"
  [ngClass]="isLoading || loadAnimation ? 'pulse' : ''"
>
  <div class="flex justify-between border-b-2 border-blue-400 pb-2">
    <div class="flex items-center gap-2">
      <p
        class="text-neutral-200"
        [ngClass]="isLoading || loadAnimation ? 'pulse' : ''"
      >
        Blatt {{ sheet?.number }}
      </p>
      <app-input
        placeholder="Themenbereich (max-10)"
        [(model)]="topicModel"
        (blur)="handleBlur()"
        [loadAnimation]="isLoading || loadAnimation"
      >
        <fa-icon [icon]="pencilIcon"></fa-icon>
      </app-input>
    </div>
    <div class="flex items-center gap-2">
      <app-notice
        *ngIf="!sheet?.public"
        note="Wenn du dieses Blatt veröffentlichst können alle Nutzer die Inhalte dieses Blatts sehen."
      >
        <fa-icon [icon]="questionIcon"></fa-icon>
      </app-notice>
      <app-button
        (click)="handlePublishing()"
        [style]="'primary'"
        [loadAnimation]="isLoading || loadAnimation"
      >
        <p>{{ sheet?.public ? "Verstecken" : "Veröffentlichen" }}</p>
      </app-button>

      <app-button
        (click)="handleDelete()"
        [style]="'danger'"
        [loadAnimation]="isLoading || loadAnimation"
      >
        <div class="flex items-center gap-3">
          <p>Löschen</p>
          <fa-icon [icon]="trashIcon"></fa-icon>
        </div>
      </app-button>
    </div>
  </div>
  <div class="flex flex-col gap-4 p-2">
    <div
      class="flex justify-between items-center"
      *ngFor="let type of submissionTypes"
    >
      <p>{{ type }} - {{ countByType[type] }}</p>
      <div class="flex items-center gap-2">
        <button
          *ngIf="countByType[type] > 0"
          (click)="handleOpenSubmission(type)"
        >
          <fa-icon [icon]="showIcon" class="hover:text-neutral-200"></fa-icon>
        </button>
        <app-file-input
          accept=".jpg ,.jpeg ,.png"
          [showFileName]="false"
          (fileChange)="handleUploadFile($event, type)"
          [id]="'add-submission-' + type"
        >
          <fa-icon
            [icon]="uploadIcon"
            class="hover:text-neutral-200 hover:cursor-pointer"
            label
          ></fa-icon>
        </app-file-input>
      </div>
    </div>
  </div>
</div>
