@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-neutral-400;
  @apply bg-neutral-800;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.471);
}

.modal {
  animation: fadeIn 0.1s linear;
}

@keyframes fadeIn {
  0% {
    margin-left: 100%;
  }

  75% {
    margin-left: 50%;
  }

  100% {
    margin-left: 0%;
  }
}

.z-1001 {
  z-index: 1001;
}

@keyframes pulse-fast {
  50% {
    opacity: 0.5;
  }
}
.pulse {
  animation: pulse-fast 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.grow-full {
  display: flex;
  flex: 1 1 auto;
  flex-grow: 1;
}

.fill-height {
  height: calc(100vh - 5rem);
}
