<div class="flex fill-height">
  <div
    class="border-r border-neutral-600 w-16 flex flex-col gap-6 items-center p-6"
  >
    <app-dashboard-nav-item
      *ngFor="let navItem of navItems"
      [href]="'/dashboard/' + navItem.route"
      [label]="navItem.label"
      [highlight]="currentRoute.includes(navItem.route)"
    >
      <fa-icon
        [icon]="navItem.icon"
        [ngClass]="currentRoute.includes(navItem.route) ? 'text-neutral-200' : ''"
      ></fa-icon>
    </app-dashboard-nav-item>
  </div>
  <div class="flex grow flex-col">
    <router-outlet></router-outlet>
  </div>
</div>
